body {
    font-family: 'Cardo', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.logo img {
    max-width: 100%;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Centrar la navegación */
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

section {
    margin-bottom: 40px;
}

/* Estilos para las tarjetas de cremaciones */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 0 calc(33.33% - 20px); /* 3 columnas con margen de 20px */
    box-sizing: border-box;
}

a {
    color: #fff; /* Letras blancas para los enlaces */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
